arabic-reshaper==2.0.15
asyncio==3.4.3
beautifulsoup4==4.9.3
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cryptg~=0.2
decorator==4.4.2
future==0.18.2
idna==2.9
git+https://github.com/johnwmillr/LyricsGenius.git
Pillow==7.1.2
psycopg2==2.8.6
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
python-bidi==0.4.2
python-telegram-bot==13.1
pyyaml==5.3.1
reportlab==3.5.55
requests==2.25.0
rsa==4.6
rtl==0.4.3
six==1.15.0
soupsieve==2.0.1
telegraph==1.4.1
Telethon==1.18.2
tornado==6.1
urllib3==1.25.9
ujson==4.0.1